body {
  width: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
  font-family: Helvetica;
  cursor: none;
}
a:hover{
  cursor: none;
}
.parent {
	width: 90%;
	min-height: 100vh;
	max-height: fit-content;
	margin-left: 5%; 
	margin-right: 5%;
}
.project-gallery {
  width: 90%;
	max-height: auto;
	margin-left: 5%; 
	margin-right: 5%;
  display: inline-block;
}
.project-gallery img {
	width: 100%;
	object-fit: cover;
  transition: transform 0.5s ease;
}
.project-gallery img:hover {  
  transform: scale(0.99);
}
.project-left-small {
  width:40%;
	height: fit-content;
  float: left;
  padding-right:2.5%;
}
.project-right-large {
	width:55%;
	height:fit-content;
  float:right;
  padding-left:2.5%;
}
.project-left-large {
	width:55.5%;
	height: fit-content;
  float:left;
  padding-right:2.5%;
}
.project-right-small {
	width:39.5%;
 	height: fit-content;
  float:right;
  padding-left:2.5%;
}

.project-left-small, .project-right-large, .project-left-large, .project-right-small {
  margin-bottom: 80px;
}

/* \/  Text appear under gallary image on hover  \/ */
.text-on-hover { 
  opacity: 0; 
  font-size: 22px;
}
.project-left-large:hover .text-on-hover {opacity: 1; transition: opacity 0.5s;}
.project-left-small:hover .text-on-hover {opacity: 1; transition: opacity 0.5s;}
.project-right-large:hover .text-on-hover {opacity: 1;	transition: opacity 0.5s;}
.project-right-small:hover .text-on-hover {opacity: 1;	transition: opacity 0.5s;}
.project-left-large .project-left-small .project-right-large .project-right-small, .project-title {display: none;}

.parallax {
   transition: transform 0.5s ease-out;
}
/* cursor styling */
div.cursor div {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border:  black 2px solid;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	mix-blend-mode: darken;
  opacity:75%;
  z-index:9999;
  transition: width 0.2s, height 0.2s;
  transition-timing-function: ease-in-out;
}
div.cursor div span {
	position: absolute;
	top: -24px;
	left: 40px;
	width: 300px;
	line-height: 24px;
	color: var(--font);
	opacity: 0;
	transition: opacity 1s;
	background-color: none;
}
div.cursor div span.visible {
	opacity: 1;
}

div.cursor div.solid-fill {
  width: 32px;
	height: 32px;
	background-color: black;
}

  /* swicth the text next to cursor when next to right edge */
div.cursor.left div span.visible {
	left: auto;
	right: 40px;
	text-align: right;
  }

	/* | SMALL (phone) | */
@media (min-width: 120px)and (max-width: 760px) {
  .project-left-small, .project-right-large, .project-left-large, .project-right-small {
    width:100%;
  }
   .project-left-small, .project-right-large, .project-left-large, .project-right-small, img {
     height:340px;
     object-fit: cover;
     float:center;
  }
}
